@{
    ViewBag.Title = "Home Page";
}

<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAHYcAAB2HAY/l8WUAAAAMSURBVBhXY2DvOA8AAfgBX6YQ3XkAAAAASUVORK5CYII=" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Always connected, always on-line – never compromising</h1>
                    <p>
                        Thanks to its cost-effectiveness, Accelrys Notebook Cloud (previously Contur iLabber Cloud) is the perfect option for any organization looking for rapid deployment and adoption, with no investments needed and minimum operating costs.
                        <br />
                        <br />
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="#overview" role="button">View details</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAHYcAAB2HAY/l8WUAAAAMSURBVBhXY2DvOA8AAfgBX6YQ3XkAAAAASUVORK5CYII=" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Take Accelrys Notebook Cloud for a Test Drive</h1>
                    <p>
                        Take a 2-week test drive with a free team evaluation of Accelrys Notebook Cloud. You'll be surprised how easy it is to use and how quickly your team will become productive.
                        <br />
                        <br />
                        <br />
                        <br />
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="/Home/FreeTrial" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAHYcAAB2HAY/l8WUAAAAMSURBVBhXY2DvOA8AAfgBX6YQ3XkAAAAASUVORK5CYII=" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Serious about Security</h1>
                    <p>
                        Hosted in a state-of-the-art SAS 70, Type II compliant data center, using some of the most advanced Internet technology to keep your data safe and protected at all times.
                        <br />
                        <br />
                        <br />
                        <br />
                    </p>
                    <p><a class="btn btn-lg btn-primary" href="/Home/Security" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img src="/Content/Images/cloud.png" alt="Overview" style="height: 100px;">
            <h2>Overview</h2>
            <p>
                Set up your own cloud-based ELN system and be up and running within minutes, letting you focus on what is important - more innovation and less administration.
                <br />
                <br />
            </p>
            <p><a class="btn btn-default" href="#overview" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="/Content/Images/team.png" alt="Free trial" style="height: 100px;">
            <h2>Free Trial</h2>
            <p>Take a test drive with a free team evaluation of Accelrys Notebook Cloud. You'll be surprised how easy it is to use and how quickly your team will become productive.</p>
            <p><a class="btn btn-default" href="/Home/FreeTrial" role="button">Sign up today &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="/Content/Images/padlock.png" alt="Security" style="height: 100px;">
            <h2>Security</h2>
            <p>
                Hosted in a modern, state-of-the-art, data center. We use some of the most advanced Internet technologies to keep your data safe and protected at all times.
                <br />
                <br />
            </p>
            <p><a class="btn btn-default" href="/Home/Security" role="button">Learn more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette" id="overview">
        <div class="col-md-6">
            <h2 class="featurette-heading">Why Accelrys Notebook Cloud?</h2>
            <p>
                <b>Make the Paperless Lab Transition</b>
                <br />An ELN that’s easy to USE and DEPLOY for any discipline, any organization
            </p>
            <p>
                <b>Focus on the Science</b>
                <br />Replace paper notebooks and eliminate time-consuming and error-prone manual searching and documentation
            </p>
            <p>
                <b>Low TCO, fast ROI</b>
                <br />Flexible, subscription-based license model with no hardware investments or IT resources needed
            </p>
            <p>
                <b>Flexible, Easy to Use and Deploy</b>
                <br />Deploy quickly and get teams up to speed and productive immediately due to an intuitive and user-friendly interface, whilst also gaining an electronic notebook that meets the demands of today’s global enterprise
            </p>
            <p>
                <b>Collaborate Instantly</b>
                <br />Easily store, search and share all notebook entries from any location
            </p>
            <p>
                <b>Protect Your IP</b>
                <br />Digital signatures, experiment templates and work-flow alerts ensures maximum IP protection and regulatory compliance
            </p>
            <br />
            <p>
                Interested in having it in-house? <a href="http://accelrys.com/products/eln/contur/accelrys-notebook.html
" target="new">Click Here</a>
            </p>
        </div>
        <div class="col-md-6">
            <img class="featurette-image img-responsive" src="/Content/Images/screenshot.png" alt="Screenshot">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette img-responsive">
        <div class="col-md-6">
            <a href="https://www.sciencecloud.com/" target="_blank"><img class="featurette-image" src="/Content/Images/sciencecloud.png" alt="ScienceCloud"></a>
        </div>
        <div class="col-md-6">
            <h2 class="featurette-heading">Transform Scientific Collaboration</h2>
            <p>Or use Accelrys Notebook Cloud as part of ScienceCloud, an ecosystem of collaborative, cloud-based tools to help transform the way you run your externalized R&D project: multiple collaborators, single platform, one conversation.</p>
            <a href="https://www.sciencecloud.com/" target="_blank">Learn more</a>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-4">
            <h2 class="featurette-heading">Plans & Pricing for @ViewBag.Country</h2>
            <p>All plans include daily backups, unlimited storage, 24/7 Support, all software updates and online training</p>
            <p>Move easily between the different cloud plans by adding and renewing seats via your online admin</p>
            <p>Only pay for active seats, whilst still having access to all of your group’s past experiments</p>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-3"></div>
                <div class="col-xs-3 popular pricingcell">&nbsp;</div>
                <div class="col-xs-3"></div>
                </div>
            <div class=" row pricingtable text-center border-end lead">
                <div class="col-xs-3"><div class="row"><div class="col-xs-12 pricingcell"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><br />Acedemic Cloud<br /><br /></div></div><div class="row"><div class="col-xs-12 pricingcell">1 to 100 users</div></div><div class="row"><div class="col-xs-12 pricingcell">Unlimited storage</div></div><div class="row"><div class="col-xs-12 pricingcell">@ViewBag.AcademicCloudPrice1<br /><br />@ViewBag.AcademicCloudPrice2<br /><br /><br /></div></div></div>
                <div class="col-xs-3"><div class="row"><div class="col-xs-12 pricingcell"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><br />Business Cloud<br /><br /></div></div><div class="row"><div class="col-xs-12 pricingcell">1 to 9 users</div></div><div class="row"><div class="col-xs-12 pricingcell">Unlimited storage</div></div><div class="row"><div class="col-xs-12 pricingcell">@ViewBag.BusinessCloudPrice1<br /><br />@ViewBag.BusinessCloudPrice2<br /><br /><br /></div></div></div>
                <div class="col-xs-3 popular"><div class="row"><div class="col-xs-12 pricingcell"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><br />Business Cloud<br /><small>Most popular</small></div></div><div class="row"><div class="col-xs-12 pricingcell">10 to 19 users</div></div><div class="row"><div class="col-xs-12 pricingcell">Unlimited storage</div></div><div class="row"><div class="col-xs-12 pricingcell">@ViewBag.BusinessCloudPrice3<br /><br />@ViewBag.BusinessCloudPrice4<br /><br /><a href="mailto:notebook@accelrys.com" role="button" class="btn btn-sm btn-primary">Buy now &raquo;</a><br /><br /></div></div></div>
                <div class="col-xs-3"><div class="row"><div class="col-xs-12 pricingcell"><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span><br />Business Cloud<br /><br /></div></div><div class="row"><div class="col-xs-12 pricingcell">20+ users</div></div><div class="row"><div class="col-xs-12 pricingcell">Unlimited storage</div></div><div class="row"><div class="col-xs-12 pricingcell">@ViewBag.BusinessCloudPrice5<br /><br />@ViewBag.BusinessCloudPrice6<br /><br /><br /></div></div></div>

            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->