<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <link rel="publisher" href="https://plus.google.com/111088265825059141392" />
    <meta property="og:title" content="BIOVIA Notebook Cloud - @ViewBag.Title" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="With BIOVIA Notebook Cloud you can set up your own cloud-based ELN system and be up and running within minutes, letting you focus on what is important – more innovation and less administration." />
    <title>BIOVIA Notebook Cloud - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="http://www.3ds.com/products-services/biovia"><img src="/Content/Images/biovia-logo-transparent.png"></a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="">Home</a></li>
                            <li><a href="/Home/Security">Security</a></li>
                            <li><a href="/Home/FreeTrial">Free Trial</a></li>
                            
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="https://admin.ilabber.com/WebAdmin2/login.aspx">Log in</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    
        @RenderBody()
    <footer>
        <div class="container text-center">
            <p>&copy; @DateTime.Now.Year - Dassault Systèmes BIOVIA&reg;</p>
            <a href="mailto:support@accelrys.com">E-mail Support</a>
            &nbsp;│&nbsp;
            <a href="mailto:notebook@accelrys.com">E-mail Notebook Team</a>
        </div>
        
    </footer>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
